# API (desenvolvimento local)
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# API (produção)
# Exemplo: https://api-futebol-06387567b79a.herokuapp.com/api
# NEXT_PUBLIC_API_URL=https://api-futebol-06387567b79a.herokuapp.com/api

# Mock local (true/false)
NEXT_PUBLIC_USE_MOCK_DATA=false
