NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=futebol-e9b81.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=futebol-e9b81
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=futebol-e9b81.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=266352859586
NEXT_PUBLIC_FIREBASE_APP_ID=
